<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Monster Killer</title>
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="css/material.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>

<noscript>This game wont work without javascript on!</noscript>

<div id="app">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">The Monster Killer</span>
            </div>
        </header>
        <main v-cloak class="mdl-layout__content">
            <div class="v-cloak--hidden page-content container">
                <div class="v-cloak--inline mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                <div class="row">
                    <div class="mdl-cell col">
                        <h2>Player</h2>
                        <br>
                        <div class="progress">
                            <div :class="'progress-bar ' + playerBarColor" role="progressbar"
                                 :style="'width: ' + healthPlayer + '%;'"
                                 :aria-valuenow="healthPlayer"
                                 aria-valuemin="0" aria-valuemax="100">{{ healthPlayer }}%
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell col">
                        <h2>Monster</h2>
                        <br>
                        <div class="progress">
                            <div :class="'progress-bar ' + monsterBarColor" role="progressbar"
                                 :style="'width: ' + healthMonster + '%;'"
                                 :aria-valuenow="healthMonster"
                                 aria-valuemin="0" aria-valuemax="100">{{ healthMonster }}%
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <div class="row mx-auto">
                    <template id="action-button" v-if="!isOver">
                        <div class="mdl-cell col justify-content-between" align="center">
                            <button @click="playerAttack()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Attack
                            </button>
                            <button @click="playerSpecialAttack()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Special Attack
                            </button>
                            <button @click="playerHeal()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Heal
                            </button>
                            <button @click="playerGiveUp()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Give Up
                            </button>
                        </div>
                    </template>
                    <template id="game-over-button" v-else>
                        <div class="mdl-cell col justify-content-between" align="center">
                            <h3 :style="'color: ' + gameResultColor + ';'">
                                {{ gameResult }}
                            </h3>
                            <button @click="playAgain()"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Play Again!
                            </button>
                        </div>
                    </template>
                </div>

                <br>
                <template class="col" v-for="log in battleLog.reverse()">
                    <div class="alert alert-success" role="alert">
                        {{ log }}
                    </div>
                </template>

            </div>
        </main>
    </div>
</div>

<script src="js/app.js"></script>
</body>
</html>